/* 기본폰트 - 프리텐다드 */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
/* 메인 로고 */
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("./source/font/static/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face { /*바이레도 byredo*/
    font-family: "FuturaCyrillicBold";
    src: url("./source_01BYREDO/font/FuturaCyrillicDemi.woff") format("woff");
}
@font-face { /*톰포드 tomford*/
    font-family: "HelveticaNeueBold";
    src: url("./source_02TOM_FORD/font/HelveticaNeueBold.otf") format("OpenType");
}
@font-face { /*르라보 lerabo*/
    font-family: "OldSansBlack";
    src: url("./source_03LE_LABO/font/OldSansBlack.ttf") format("TrueType");
}
@font-face { /*버버리 burberry*/
    font-family: "optima";
    src: url("./source_04BURBERRY/font/OPTIMA_B.woff") format("woff");
}
@font-face { /*마르지엘라 margiela*/
    font-family: "goudos";
    src: url("./source_05MAISON_MARGIELA/font/GOUDOS.woff") format("woff");
}

/* 베이스 셋팅 */
*{margin: 0; padding: 0; list-style: none; text-decoration: none; user-select: none; font-family: 'Pretendard'; color: #222;}
html{font-size: 10px;}
body{width: 100dvw; height: auto; background-color: #F7F7F7; overflow-x: hidden;}
section{margin: 0 auto; position: relative;}
.lineV{background-color: #222; height: 10rem; width: 0.2rem; margin: 4rem auto; transform-origin: top center; transform:scaleY(0); transition: all 2.4s linear;}
.lineH{background-color: #222; width: 10rem; height: 0.2rem; margin: 4rem auto;}
.lineVW{background-color: white; height: 10rem; width: 0.2rem; margin: 4rem auto; transform-origin: top center; transform:scaleY(0); transition: all 2.4s linear;}
.lineHW{background-color: white; width: 10rem; height: 0.2rem; margin: 4rem auto;}
.lineV.onLineV, .lineVW.onLineV{height: 10rem; transform:scaleY(1);}
.firstSec{height: 8rem;}
[class*=FImg]{transform: translateY(4rem); opacity: 0; transition: all 1s ease-in-out;}
.onF{transform: translateY(0); opacity: 1;}

/* 모달팝업창 modal */
.modal{transition: all 1.6s ease-in-out; width: 40rem; height: 36rem; padding: 1rem 2rem; border-radius: 1rem; border: 1px solid #aaa; box-shadow: 2px 2px 12px rgba(0,0,0,0.3); display: none; flex-direction: column; justify-content: center; align-items: center; gap: 1rem; position: fixed; z-index: 9999; bottom: 0%; right: 0rem; transform: translateX(100%);}
.modal.modalOn{transform: translateX(0);}
.modal.modalAfter{transform: translateX(91%); transition: all 1s ease-in-out;}
.modal>div{color: inherit;}
.modalMark{cursor: pointer; width: 3rem; height: 9rem; font-size: 1.4rem; writing-mode: vertical-rl; text-orientation: upright; text-align: center; line-height: 3rem; border-top-right-radius: 1rem; border-bottom-right-radius: 1rem; background-color: #F7F7F7; position: absolute; left: 0; top: 5%; color: #222 !important;}
.modalCloseBtn{cursor: pointer; position: absolute; top: 2%; right: 3%; font-size: 1.6rem;}
.modalRecommended{font-size: 2.4rem; font-weight: 600;}
.modalImage{cursor: pointer; width: 80%; height: 50%; border-radius: 1rem; overflow: hidden; border: 1px solid #bbb;}
.modalImage>img{width: 100%; height: 100%; object-fit: cover;}
.modalBrand{font-size: 2rem; font-weight: 600;}
.modalName{font-size: 1.4rem; font-weight: 600;}
[class*='modalDesc']{font-size: 1.4rem; text-align: center;}
.modalStyling{font-size: 2rem; font-weight: 600;}



/* 네비게이션 navigation 헤더 header*/
.topBtn{animation: float 1s ease infinite; position: fixed; right: 2rem; bottom: 2rem; width: 4rem; height: 4rem; border-radius: 50%; border: 1px solid #aaa; background: rgba(255,255,255,0.75); display: grid; place-items: center; cursor: pointer; z-index: 9999; box-shadow: 0 6px 14px rgba(0,0,0,0.25);}
@keyframes float{
    0%{transform: translateY(0);}
    50%{transform: translateY(-0.5rem);}
    100%{transform: translateY(0);}
}

nav{width: 100%; height: 80px; font-size: 2rem; display: flex; justify-content: center; align-items: center; gap: 100px; background-color: rgba(255,255,255,0.9); backdrop-filter: blur(2px); position: fixed; z-index: 100;}
.effeLogo{height: 60px; width: max-content;}
.effeLogo>img{height: 100%; width: 100%; object-fit: cover;}
.menuMain{display: flex; gap: 4rem; font-weight: 600;}
nav a > div, nav img{transition: all 0.4s linear;}
nav.onWhite{background-color: rgba(255,255,255,0.1);}
nav.onWhite .menumain, nav.onWhite .subWrap{background-color: rgba(255,255,255,0.1);}
nav.onWhite *{color: #f7f7f7;}
nav.onWhite img{filter: brightness(0) invert(1);}

.timeWeather{font-size: 1.2rem; display: flex; justify-content: center; align-items: center; gap: 20px;}
#weatherIcon{height: 60px;}

header{position: relative;}
.subWrap{display: none; position: absolute; left: 0; right: 0; top: 100%; overflow: hidden; z-index: 10; background-color: rgba(255,255,255,0.95);}
.subWrap.onSub{display: block;}
.menuSub{font-size: 1.6rem; display: flex; justify-content: center; align-items: flex-start; gap: 8rem; padding: 4rem 0; border-bottom: 1px solid #A6B1A9; border-top: 1px solid #A6B1A9;}
.menuSub>div>a{margin: 1.8rem;}
.menuMain a.onHighlight div, .menuSub a.onHighlight div{color: #222; font-weight: 600; border-bottom: 1px solid #111;}
.subTitle{font-size: 1.8rem;}
.subText{font-size: 1.4rem; color: #A6B1A9;}
.subText:hover{color: #222; transition: all 0.2s linear;}

/* 푸터 footer */
footer{width: 100%; height: 42rem; background-color: #222; padding: 4rem;}
.footBox01{display: flex; justify-content: center; align-items: center; gap: 10rem;} 
.effeLogoFoot{height: 60px; width: max-content;}
.effeLogoFoot>img{height: 100%; width: 100%; object-fit: cover;}
.menuFoot{width: 80%; font-size: 1.6rem; display: flex; justify-content: center; align-items: flex-start; gap: 8rem; padding: 4rem 0; border-bottom: 1px solid #A6B1A9; border-top: 1px solid #A6B1A9;}
.menuFoot>div>a{margin: 1.8rem;}
.footTitle{color: #F7F7F7;}
.footText{font-size: 1.4rem; color: #A6B1A9; transition: all 0.2s ease-in-out;}
.footText:hover{color: white;}

.footBox02{color: #F7F7F7; margin-top: 2rem; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.footBox02>div{font-size: 1.2rem; color: #F7F7F7;}

/* 메인페이지 main-page */
.main01{position: relative; width: 100%; height: 140dvh; display: flex; flex-direction: column; justify-content: center; align-items: center; overflow: hidden;}
.mainText{font-size: 8rem; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 3rem;}
[class*='mainText0']{color: #F7F7F7; font-weight: 600; opacity: 0; transform: translateY(-30px); transition: all 1.2s ease-in-out;}
[class*='mainText0'].onMove{opacity: 1; transform: translateY(0);}
.mainTextMove{background-color: #F7F7F7; width: 400px; height: 100px; font-weight: 600; transform: rotateX(90deg); transition: all 0.4s ease-in-out; position: relative; overflow: hidden;}
.mainTextMove.onMove{transform: rotateX(0);}
.mainChange{width: 100%; height: 100%; position: absolute; top: 65%; left: 50%; transform:translate(-50%, -50%) translateY(100%); transition: all 0.4s ease-in-out; text-align: center;}
.mainChange.onChange{transform:translate(-50%, -50%) translateY(-15%)}
.mainChange.onChange2{transform:translate(-50%, -50%) translateY(-120%)}
.mainEffe{font-family: "PlayfairDisplayBold"; font-size: 16rem; font-weight: 600; opacity: 0; transform:translateY(-130%); background-color: #F7F7F7; width: 46rem; height: 20rem; text-align: center; line-height: 20rem; transition: all 0.8s ease-in-out;}
.mainEffe.onEffe{transform:translateY(-150%); opacity: 1;}
.mainVideo{position: absolute; inset: 0; z-index: -1; width: 100%; height: 80%; margin: 0 auto;}
.mainVideo>video{width: 100%; height: 100%; object-fit: cover;}

.mainSenBox{position: absolute; bottom: 0; width: 100%; height: 22rem; border-radius: 10px; margin-top: 4rem;}
.mainSentence{font-family: "PlayfairDisplayBold"; color: #aaa; font-size: 4rem; font-weight: 600; margin-top: 8rem; text-align: center;}

.main02{width: 100%; overflow: hidden; display: flex; background-color: white; border-radius: 5rem 5rem 0 0;}
.rollingBox{width: max-content; height: 20rem; margin-top: 4rem; margin-left: 0.7rem; display: flex; align-items: center; gap: 1rem; animation: rolling 30s linear infinite;}
.rolling{height: 16rem; width: max-content; padding: 10px 10px; border: 1px solid #aaa; border-radius: 1.5rem; background-color: #222; position: relative; overflow: hidden; flex-shrink: 0; transition: all 0.2s ease;}
.rolling>img{height: 100%; width: 100%; object-fit: contain; transition: all 0.6s ease;}
.rolling:hover{background-color: #f7f7f7; cursor: pointer;}
@keyframes rolling {100%{transform: translateX(-100%);}}

.rolling .img_default {position: relative; z-index: 1; transform: translateY(0); opacity: 1;}
.rolling .img_hover {position: absolute; top: -100%; left: 0; z-index: 2; transform: translateY(0);}
.rolling:hover .img_default {transform: translateY(120%); opacity: 0;}
.rolling:hover .img_hover {top: 0; animation: dropIn 0.6s ease forwards;}
@keyframes dropIn {
    from {transform: translateY(-120%);}
    to {transform: translateY(0);}
}

.main03{width: 100%; height: max-content; padding: 4rem; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem; position: relative; overflow: hidden;}
.mainPrev{font-size: 5rem; font-weight: 600; margin: 2rem 0;}
.mainBox{transform: translateX(-100%); transition: all 2s ease-in-out; width: 80%; height: 30rem; border: 1px solid #aaa; border-radius: 1rem; background-color: white; overflow: hidden; display: flex;}
.mainBox>div{width: 33.3%;}
.mainBox>div>img{width: 100%; height: 100%; object-fit: cover;}
.onMainBox{transform: translateX(0);}
.mainBrandText{font-size: 2rem; font-weight: 500; display: flex; flex-direction: column; justify-content: center; align-items: center;}

.mainConcept{cursor: pointer; transition: all 0.4s ease-in-out;}
.mainPerfume{cursor: pointer; transition: all 0.4s ease-in-out;}
.mainConcept:hover, .mainPerfume:hover {width: 66.6%;}
.mainBg{width: 100%; height: 100%; position: absolute; inset: 0; z-index: 0;}
.mainBg>img{width: 100%; height: 100%; object-fit: cover;}
.main03>*:not(.mainBg){position: relative; z-index: 1;}

/* 에페소개페이지 effe-about-page */
.about01{position: relative; width: 100vw; height: 80vh; overflow-x: hidden;}
.aboutTitleBox{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 5; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.aboutTitle, .aboutText{color: #F7F7F7; font-family: "PlayfairDisplayBold";}
.aboutTitle{font-size: 12rem; font-weight: 600;}
.aboutText{font-size: 2.4rem;}

.aboutSlides{width: 700%; height: 100%; display: flex; position: absolute; top: 0; left: 0; z-index: 0; }
.aboutSlides>div>img{width: 100%; height: 100%; object-fit: cover;}
.slide{width: calc(100% / 7); flex-shrink: 0;}

.aboutIndicator{position: absolute; bottom: 0%; left: 50%; z-index: 10; transform: translateX(-50%); width: 70rem; height: 5rem;}
.aboutProgressBox{width: 100%; height: 100%; position: relative;}
.prevBtn,.nextBtn{cursor: pointer; border: none; color: #F7F7F7; background-color: transparent; font-size: 4rem; position: absolute; top: -65%;}
.prevBtn{left: -5%;}
.nextBtn{right: -5%;}
.aboutBar{width: 70rem; height: 2px; background-color: #F7F7F7; opacity: 0.4; position: absolute; top: 0; left: 0;} 
.aboutProgress{width: 0; height: 2px; background-color: #F7F7F7; opacity: 1; transition: all 0.3s linear; position: absolute; top: 0; left: 0;}
.pageIndex{color: #F7F7F7; font-size: 1.4rem; font-weight: 600; position: absolute; bottom: 30%; left: 50%; transform: translateX(-50%);}

.about02{display: flex; justify-content: center; align-items: center; flex-direction: column;}
.aboutSen{font-size: 4rem; font-weight: 600; font-family: "PlayfairDisplayBold";}
.aboutSubSen{text-align: center; font-size: 1.4rem; padding: 4rem 0; line-height: 2rem;}
.aboutSubSen2{text-align: center; font-size: 1.8rem; font-weight: 500; padding: 4rem 0; line-height: 4rem;}
.aboutVideo{width: 100%; height: 100%; margin: 0 auto;}
.aboutVideo>video{width: 100%; height: 100%; object-fit: cover;}

.about03{width: 100%; height: 100vh; overflow: hidden; border-radius: 5rem 5rem 0 0; margin-top: 4rem;}
.dragBox{width: 100%; height: 100%; position: relative;}
.mover{opacity: 0.8; position: absolute; z-index: 10; cursor: grab; overflow: hidden; border-radius: 1rem; box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}
.mover:hover{opacity: 1;}
.mover:active{opacity: 1; box-shadow: 1px 1px 3px rgba(0,0,0,0.2);}
.mover>img{width: 100%; object-fit: cover;}
.dragBox>.mover:nth-child(1){width: 30rem; height: 20rem; left: 12%; bottom: 50%;}
.dragBox>.mover:nth-child(2){width: 20rem; height: auto; left: 28%; bottom: 50%;}
.dragBox>.mover:nth-child(3){width: 30rem; height: 20rem; left: 40%; bottom: 50%;}
.dragBox>.mover:nth-child(4){width: 20rem; height: auto; left: 57%; bottom: 50%;}
.dragBox>.mover:nth-child(5){width: 20rem; height: auto; left: 70%; bottom: 50%;}
.dragBox>.mover:nth-child(6){width: 30rem; height: auto; left: 7%; top: 45%;}
.dragBox>.mover:nth-child(7){width: 20rem; height: auto; left: 25%; top: 45%;}
.dragBox>.mover:nth-child(8){width: 20rem; height: auto; left: 37%; top: 45%;}
.dragBox>.mover:nth-child(9){width: 20rem; height: auto; left: 50%; top: 45%;}
.dragBox>.mover:nth-child(10){width: 20rem; height: auto; left: 62%; top: 45%;}
.dragBox>.mover:nth-child(11){width: 30rem; height: 20rem; left: 75%; top: 45%;}

.aboutDragTextbox{position: absolute; z-index: 0; inset: 0;}
.aboutDragBg{width: 100%; height: 100%;}
.aboutDragBg>img{width: 100%; height: 100%; object-fit: cover; opacity: 0.2;}
.aboutDragText01{width: 100%; position: absolute; top: 3%; left: 50%; transform: translateX(-50%); text-align: center; font-size: 4rem; font-family: "PlayfairDisplayBold";}
.aboutDragText012{width: 100%; position: absolute; top: 10%; left: 50%; transform: translateX(-50%); text-align: center; font-size: 1.8rem; color: #777;}
.aboutDragText02{width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; gap: 4rem; font-size: 6rem;}
.aboutDragText02>div{font-family: "PlayfairDisplayBold";}
.aboutDragText02>div>div{font-family: "PlayfairDisplayBold";}
.dragSubText{text-align: center;}
.dragSign{font-size: 8rem;}
.resetBtn{font-weight: 600; padding: 1rem 1.5rem; border: 1px solid #aaa; border-radius: 5rem; box-shadow: 2px 2px 8px rgba(0,0,0,0.2); position: absolute; top: 90%; left: 50%; transform: translateX(-50%);}

/* 바이레도 BYREDO */
    /* 바이레도 인트로 byredo intro */
    .byredoI01{width: 100%; height: 120dvh; position: relative; display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
    .byredoILogo{position: absolute; width: 20%; height: auto; right: 5%; top: 30%;}
    .byredoILogoSen{position: absolute; right: 6%; top: 40%; font-size: 2rem; font-family: "FuturaCyrillicBold";}
    .byredoIMain{width: 100%; height: 95dvh; overflow: hidden;}
    .byredoIMain>img{width: 100%; height: 100%; object-fit: cover;}
    .byredoIValue{width: 80%; height: 30dvh; border-radius: 4rem; position: absolute; top: 70%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white; }
    .byredoIVText{font-size: 3rem; font-family: "FuturaCyrillicBold";}

    .byredoI02{width: 100%; height: auto; overflow-x: hidden; position: relative;}
    .byredoCBox{display: flex; margin-bottom: 10rem;}
    .byredoCBox>div{width: 55%; height: 60rem;}
    [class*='.byredoCImg0']{transition: all 0.3s ease-in-out;}
    .byredoCImg01{border-radius: 0 15rem 15rem 0; overflow: hidden; box-shadow: 8rem 2rem 0 #EAE7E2;}
    .byredoCImg02{border-radius: 15rem 0 0 15rem; overflow: hidden; box-shadow: -8rem 2rem 0 #EAE7E2;}
    [class*=byredoCImg]>img{width: 100%; height: 100%; object-fit: cover;}
    .byredoCText{display: flex; justify-content: center; align-items: center; font-size: 3rem; font-family: "FuturaCyrillicBold";}

    .byredoI03{width: 80%; height: 60dvh; perspective: 2000px; display: flex; justify-content: center; align-items: center; gap: 2rem; background-color: #F2F2F2;}
    .flipCard{cursor: pointer; width: 30%; height: 40dvh; display: flex; justify-content: center; align-items: center; position: relative; background-color: #F2F2F2;}
    .flipCard:hover .flipCardIn, .flipCard.touch-active .flipCardIn {transform: rotateY(180deg);}
    .flipCardIn{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFront, .flipBack {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; box-sizing: border-box; border-radius: 10px;}
    .flipFront{overflow: hidden; background-color:white; display: flex; flex-direction: column; justify-content: center;}
    .frontImg{width: 100%; height: 100%; overflow: hidden; border-radius: 10px; padding: 2rem 2rem;}
    .frontImg>img{width: 100%; height: 100%; object-fit: cover;}
    .flipBack{transform: rotateY(180deg); background-color: #EAE7E2; padding: 30px; flex-direction: column; gap: 3rem;}
    .flipBack>div{font-size: 1.8rem;}

    .byredoI04{width: 70%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .byredoFSen{font-size: 2.4rem; width: 100%; height: 20rem; text-align: center; line-height: 20rem; background-color: #EAE7E2; border-radius: 1rem; font-family: "FuturaCyrillicBold";}
    .byredoFImgBox{width: 100%; display: flex; gap: 2rem; margin: 9rem 0;}
    .byredoFImg{width: 50%; height: 62vh; border-radius: 5rem; overflow: hidden; margin-bottom: 5rem;}
    .byredoFImg>img{width: 100%; height: 100%; object-fit: cover;}

    .byredoI05{width: 70%; height: 70dvh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .byredoIMapText{font-size: 2.4rem; margin-bottom: 5rem;}
    .mapTypeBox{width: 100%; display: flex; justify-content: center; gap: 5rem;}
    .mapTypeBox>button{margin-bottom: 2rem; border: none; background: rgba(255,255,255,0.9); color: #222; border-radius: 2rem; padding: 5px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.15); transition: 0.2s;}
    .mapTypeBox>button:hover{background: rgba(0,0,0,0.2);}
    .byredoMap{width: 100%; height: 70%; border-radius: 1rem;}

    .searchBox {margin-top: 3rem; background: rgba(255,255,255,0.9); padding: 1rem 1.5rem; border-radius: 3rem; display: flex; align-items: center; box-shadow: 0 2px 10px rgba(0,0,0,0.15);}
    .searchBox input {border: none; outline: none; background: transparent; font-size: 1.4rem; width: 40rem;}
    .searchBox button {border: none; background: #222; color: #F7F7F7; border-radius: 2rem; padding: 5px 10px; transition: 0.2s;}
    .searchBox button:hover {background: #333;}

    /* 바이레도 블랑쉬 byredo Blanche */
    .byredoP01{width: 100%;}
    .byredoPMain{width: 100%; height: 75dvh;}
    .byredoPMain>img{width: 100%; height: 100%; object-fit: cover;}
    .byredoPMainText{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .byredoPMainText>div{background-color: #E8E8E1; width: 70%; height: 10rem; border-radius: 5rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 10rem;}

    .byredoP02{width: 60%; background-color: white; padding: 2rem;}
    .byredoPElBox{width: 100%; height: 150dvh; display: grid; grid-template: repeat(3, 1fr) / repeat(2, 1fr);}
    .byredoPElBox>div{width: 100%; height: 50dvh; font-size: 1.4rem; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem;}
    .byredoPElBg01{background-color: #F9E7E4;}
    .byredoPElBg02{background-color: #E8E1EB;}
    .byredoPElBg03{background-color: #E5D9CC;}
    [class*=byredoPElChip0]{width: 10rem; height: 10rem;}
    .byredoPElChip01{background-color: #F3BEB6;}
    .byredoPElChip02{background-color: #CDB8DC;}
    .byredoPElChip03{background-color: #D5B897;}
    .byredoPElBox>div>img{width: 100%; height: 100%; object-fit: cover;}

    .byredoP03{width: 100%; height: auto;}
    .byredoPFCon{width: 100%; height: 70dvh; position: relative;}
    .byredoPFConSen01{position: absolute; right: 2%; top: 50%; display: flex; flex-direction: column; align-items: flex-end;}
    .byredoPFConSen01>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .byredoPFConSen01>div:nth-child(2){font-size: 1.3rem;}
    .byredoPFCon>div:nth-child(2){width: 100%; height: 100%;}
    .byredoPFCon>div>img{width: 100%; height: 100%; object-fit: cover;}
    
    .byredoP04{width: 80%; height: 145dvh;}
    .byredoPFstTitle{font-size: 3.2rem; text-align: center; font-weight: 600;}
    .byredoPFstSen{font-size: 1.8rem; text-align: center; margin: 6rem auto;}
    .byredoPFst{width: 100%; height: 80dvh; padding: 2rem; display: flex; justify-content: center; align-items: center; gap: 8rem;}
    .byredoPRec{width: 20%; height: 100%; border-bottom-right-radius: 50%; border-top-right-radius: 50%; overflow: hidden;}
    .byredoPRec>img{width: 100%; height: 100%; object-fit: cover;}

    /* 바이레도 모하비고스트 byredo Mojave Ghost */
    .byredoPElBg04{background-color: #ece4d4;}
    .byredoPElBg05{background-color: #efe7f7;}
    .byredoPElBg06{background-color: #FDF6F0;}
    .byredoPElChip04{background-color: #d1c4ab;}
    .byredoPElChip05{background-color: #c1b0d1;}
    .byredoPElChip06{background-color: #ddccbc;}
    .byredoPFConSen02{position: absolute; left: 2%; top: 50%; display: flex; flex-direction: column; align-items: flex-start;}
    .byredoPFConSen02>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .byredoPFConSen02>div:nth-child(2){font-size: 2.4rem;}
    
    /* 바이레도 집시워터 byredo Gypsy Water */
    .byredoPElBg07{background-color: #FFF9D6;}
    .byredoPElBg08{background-color: #F5EAE0;}
    .byredoPElBg09{background-color: #E6D9C7;}
    .byredoPElChip07{background-color: #eee3ac;}
    .byredoPElChip08{background-color: #e7ceb6;}
    .byredoPElChip09{background-color: #c7b7a2;}
    .byredoPFConSen03{position: absolute; right: 7%; top: 70%; display: flex; flex-direction: column; align-items: flex-end;}
    .byredoPFConSen03>div:nth-child(1){color: #F7F7F7; font-size: 2.4rem; font-weight: 600;}
    .byredoPFConSen03>div:nth-child(2){color: #F7F7F7; font-size: 2rem;}
    
/* 톰포드 TOM FORD */
    /* 톰포드 인트로 tomford intro */
    .tomI01{width: 100%; height: 120dvh; display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
    .tomILogo{position: absolute; width: 20%; height: auto; right: 2%; top: 30%;}
    .tomILogoSen{position: absolute; right: 6%; top: 37%; font-size: 2rem; font-family: "HelveticaNeueBold";}
    .tomIMain{width: 100%; height: 95dvh; overflow: hidden;}
    .tomIMain>img{width: 100%; height: 100%; object-fit: cover;}
    .tomIValue{width: 100%; height: 40dvh; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #1C1C1C;}
    .tomIVText{color: white; font-size: 3rem; font-family: "HelveticaNeueBold";}

    .tomI02{width: 70%; height: max-content;}
    .tomICon{width: 100%; height: 60dvh; margin: 8rem 0; display: flex; justify-content: center; align-items: center;}
    .tomIConSen{width: 50%; height: 60dvh; font-size: 3rem; text-align: center; line-height: 60dvh; font-family: "HelveticaNeueBold";}
    .tomIConBox{width: 50%; height: 60dvh; position: relative;}
    .tomIConImg{width: 90%; height: 90%; box-shadow: 2rem 2rem 0 #4B2E2B;}
    .tomIConImg>img{width: 100%; height: 100%; object-fit: cover;}

    .tomI03{width: 80%; height: 60dvh; perspective: 2000px; display: flex; justify-content: center; align-items: center; gap: 2rem; background-color: #1C1C1C;}
    .flipCardT{cursor: pointer; width: 30%; height: 40dvh; display: flex; justify-content: center; align-items: center; position: relative; background-color: #1C1C1C;}
    .flipCardT:hover .flipCardInT, .flipCardT.touch-active .flipCardInT {transform: rotateY(180deg);}
    .flipCardInT{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFrontT, .flipBackT {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; border-radius: 1rem; overflow: hidden; box-sizing: border-box;}
    .flipFrontT{overflow: hidden; background-color:white; display: flex; flex-direction: column; justify-content: center;}
    .flipBackT{transform: rotateY(180deg); background-color: #4B2E2B; padding: 30px; flex-direction: column; gap: 3rem;}
    .flipBackT>div{font-size: 1.8rem; color: #F7F7F7;}

    .tomI04{width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .tomFSen{font-size: 2.4rem; width: 100%; height: 20rem; text-align: center; line-height: 20rem; background-color: #4B2E2B; color: #F7F7F7; font-family: "HelveticaNeueBold";}
    .tomFImgBox{width: 70%; display: flex; gap: 2rem; margin: 9rem 0;}
    .tomFImg{width: 50%; height: 62dvh; overflow: hidden; margin-bottom: 5rem;}
    .tomFImg>img{width: 100%; height: 100%; object-fit: cover;}

    .tomI05{width: 70%; height: 70dvh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .tomIMapText{font-size: 2.4rem; margin-bottom: 5rem;}
    .tomMap{width: 100%; height: 70%; border-radius: 1rem;}

    /* 톰포드 오드우드 tomford Oud Wood */
    .tomP01{width: 100%;}
    .tomPMain{width: 100%; height: 75dvh;}
    .tomPMain>img{width: 100%; height: 100%; object-fit: cover;}
    .tomPMainText{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .tomPMainText>div{background-color: #4B4038; color: #f7f7f7; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}

    .tomP02{width: 80%; background-color: white; padding: 2rem;}
    .tomPElBox{width: 100%; height: 66dvh; display: grid; grid-template: repeat(3, 1fr) / repeat(1, 1fr 7fr); gap: 2rem;}
    .tomPElBox>div{width: 100%; height: 20dvh;}
    [class*='tomPElBg0']{font-size: 1.4rem; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem;}
    [class*='tomPElBg0']>div{text-align: center; color: #f7f7f7;}
    .tomPElBg01{background-color: #8B5E3C;}
    .tomPElBg02{background-color: #556B2F;}
    .tomPElBg03{background-color: #A67B5B;}
    .tomPElBox>div>img{width: 100%; height: 100%; object-fit: cover;}

    .tomP03{width: 100%; height: auto;}
    .tomPFCon{width: 100%; height: 70dvh; position: relative;}
    .tomPFConSen01{position: absolute; right: 2%; top: 60%; display: flex; flex-direction: column; align-items: flex-end;}
    .tomPFConSen01>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .tomPFConSen01>div:nth-child(2){font-size: 2rem;}
    .tomPFCon>div:nth-child(2){width: 100%; height: 100%;}
    .tomPFCon>div>img{width: 100%; height: 100%; object-fit: cover;}
    
    .tomP04{width: 80%; height: 145dvh;}
    .tomPFstTitle{font-size: 3.2rem; text-align: center; font-weight: 600;}
    .tomPFstSen{font-size: 1.8rem; text-align: center; margin: 6rem auto;}
    .tomPFst{width: 100%; height: 80dvh; padding: 2rem; display: flex; justify-content: center; align-items: center; gap: 8rem;}
    .tomPRec{width: 20%; height: 100%; clip-path: polygon(0% 0%, 20% 100%, 100% 100%, 80% 0%);}
    .tomPRec>img{width: 100%; height: 100%; object-fit: cover;}

    /* 톰포드 블랙오키드 tomford Black Orchid */
    .tomPMainText02{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .tomPMainText02>div{background-color: #3B1F2B; color: #f7f7f7; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}
    .tomPElBg04{background-color: #beae30;}
    .tomPElBg05{background-color: #2B1B30;}
    .tomPElBg06{background-color: #5C4033;}
    .tomPFConSen02{position: absolute; right: 2%; top: 50%; display: flex; flex-direction: column; align-items: flex-start;}
    .tomPFConSen02>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .tomPFConSen02>div:nth-child(2){font-size: 2.4rem;}
    
    /* 톰포드 네롤리포르토피노 tomford Neroli Portofino */
    .tomPMainText03{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .tomPMainText03>div{background-color: #00A8A8; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}
    .tomPElBg07{background-color: #FF9B3D;}
    .tomPElBg08{background-color: #e9dec8;}
    .tomPElBg09{background-color: #c78e39;}
    .tomPElBg07>div, .tomPElBg08>div, .tomPElBg09>div{color: #222;}
    .tomPFConSen03{position: absolute; left: 2%; top: 40%; display: flex; flex-direction: column; align-items: flex-start;}
    .tomPFConSen03>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .tomPFConSen03>div:nth-child(2){font-size: 1.8rem;}
    
/* 르라보 LE LABO */
    /* 르라보 인트로 lerabo intro */
    .leraboI01{width: 100%; height: 120dvh; position: relative; display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
    .leraboILogo{position: absolute; width: 20%; height: auto; left: 5%; top: 15%;}
    .leraboILogoSen{color: #f7f7f7; position: absolute; left: 5%; top: 11%; font-size: 2.4rem; font-family: "OldSansBlack";}
    .leraboIMain{width: 100%; height: 95dvh; overflow: hidden;}
    .leraboIMain>img{width: 100%; height: 100%; object-fit: cover;}
    .leraboIValue{width: 80%; height: 40dvh; border-radius: 4rem; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .leraboIVText{font-size: 3rem; font-family: "OldSansBlack";}

    .leraboI02{width: 100%; height: auto; overflow-x: hidden; position: relative;}
    .leraboCBox{display: flex;}
    .leraboCBox>div{width: 50%; height: 60rem;}
    [class*=leraboCImg]>img{width: 100%; height: 100%; object-fit: cover;}
    [class*=leraboCText]{display: flex; justify-content: center; align-items: center; font-size: 3rem; font-family: "OldSansBlack";}
    .leraboCText01{background-color: #D9D9D6;}
    .leraboCText02{background-color: #D8CFC5;}

    .leraboI03{width: 80%; height: 60dvh; perspective: 2000px; display: flex; justify-content: center; align-items: center; gap: 2rem; background-color: #ffffff}
    .flipCardL{cursor: pointer; width: 30%; height: 40dvh; display: flex; justify-content: center; align-items: center; position: relative; background-color: #ffffff;}
    .flipCardL:hover .flipCardInL, .flipCardL.touch-active .flipCardInL {transform: rotateY(180deg);}
    .flipCardInL{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFrontL, .flipBackL {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; border-radius: 1rem; overflow: hidden; box-sizing: border-box;}
    .flipFrontL{overflow: hidden; background-color:white; display: flex; flex-direction: column; justify-content: center;}
    .flipBackL{transform: rotateY(180deg); background-color: #D9D9D6; padding: 30px; flex-direction: column; gap: 3rem;}
    .flipBackL>div{font-size: 1.8rem;}
    .frontImgL{width: 100%; height: 100%; overflow: hidden; border-radius: 10px;}
    .frontImgL>img{width: 100%; height: 100%; object-fit: cover;}
    

    .leraboI04{width: 70%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .leraboFSen{font-size: 2.4rem; width: 100%; height: 20rem; text-align: center; line-height: 20rem; border-radius: 1rem; font-family: "OldSansBlack";}
    .leraboFImgBox{width: 100%; display: flex; gap: 2rem; margin: 9rem 0;}
    .leraboFImg{width: 50%; height: 62dvh; border-radius: 5rem; overflow: hidden; margin-bottom: 5rem;}
    .leraboFImg>img{width: 100%; height: 100%; object-fit: cover;}

    .leraboI05{width: 70%; height: 70dvh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .leraboIMapText{font-size: 2.4rem; margin-bottom: 5rem;}
    .leraboMap{width: 100%; height: 70%; border-radius: 1rem;}

    .searchBox {margin-top: 3rem; background: rgba(255,255,255,0.9); padding: 1rem 1.5rem; border-radius: 3rem; display: flex; align-items: center; box-shadow: 0 2px 10px rgba(0,0,0,0.15);}
    .searchBox input {border: none; outline: none; background: transparent; font-size: 1.4rem; width: 40rem;}
    .searchBox button { border: none; background: #222; color: #F7F7F7; border-radius: 2rem; padding: 5px 10px; cursor: pointer; transition: 0.2s;}
    .searchBox button:hover {background: #333;}

    /* 르라보 상탈33 lerabo Santal 33 */
    .leraboP01{width: 100%;}
    .leraboPMain{width: 100%; height: 75dvh;}
    .leraboPMain>img{width: 100%; height: 100%; object-fit: cover;}
    .leraboPMainText{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .leraboPMainText>div{background-color: #E6E0DA; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}

    .leraboP02{width: 80%; background-color: #E6E0DA; padding: 2rem;}
    .leraboPElBox{width: 100%; height: auto; display: flex; justify-content: center; align-items: center; gap: 2rem;}
    .leraboPElBg{background-color: white; width: 32%; height: 70dvh; font-size: 1.4rem; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1.4rem;}
    .leraboPElBg>div{text-align: center;}
    .leraboPElBg>div:nth-child(2){font-weight: 600; font-size: 2.4rem;}
    .leraboPElImg{width: 80%; height: 80%; overflow: hidden;}
    .leraboPElImg>img{width: 100%; height: 100%; object-fit: cover;}
    [class*='leraboPElChip0']{width: 100%; height: 5rem;}
    .leraboPElChip01{background-color: #C3A6C7;}
    .leraboPElChip02{background-color: #9b7fd6;}
    .leraboPElChip03{background-color: #6B4C3B;}

    .leraboP03{width: 100%; height: auto;}
    .leraboPFCon{width: 100%; height: 70dvh; position: relative;}
    .leraboPFConSen01{position: absolute; left: 3%; top: 72%; display: flex; flex-direction: column; align-items: flex-end;}
    .leraboPFConSen01>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .leraboPFConSen01>div:nth-child(2){font-size: 2.1rem;}
    .leraboPFCon>div:nth-child(2){width: 100%; height: 100%;}
    .leraboPFCon>div>img{width: 100%; height: 100%; object-fit: cover;}
    
    .leraboP04{width: 80%; height: 145dvh;}
    .leraboPFstTitle{font-size: 3.2rem; text-align: center; font-weight: 600;}
    .leraboPFstSen{font-size: 1.8rem; text-align: center; margin: 6rem auto;}
    .leraboPFst{width: 100%; height: 80dvh; padding: 2rem; display: flex; justify-content: center; align-items: center; gap: 8rem;}
    .leraboPRec{width: 20%; height: 100%; clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%);}
    .leraboPRec>img{width: 100%; height: 100%; object-fit: cover;}

    /* 르라보 어나더13 lerabo Another 13 */
    .leraboPElChip04{background-color: #ddbf46;}
    .leraboPElChip05{background-color: #F5F5F5;}
    .leraboPElChip06{background-color: #9e806f;}
    .leraboPFConSen02{position: absolute; right: 7%; top: 70%; display: flex; flex-direction: column; align-items: flex-end;}
    .leraboPFConSen02>div:nth-child(1){color: #F7F7F7; font-size: 2.4rem; font-weight: 600;}
    .leraboPFConSen02>div:nth-child(2){color: #F7F7F7; font-size: 2rem;}
    
    /* 르라보 떼누아29 lerabo Another 13 */
    .leraboPElChip07{background-color: #A37C50;}
    .leraboPElChip08{background-color: #556B2F;}
    .leraboPElChip09{background-color: #C2A661;}
    .leraboPFConSen03{position: absolute; left: 2%; top: 20%; display: flex; flex-direction: column; align-items: flex-start;}
    .leraboPFConSen03>div:nth-child(1){font-size: 2.4rem; font-weight: 600;}
    .leraboPFConSen03>div:nth-child(2){font-size: 2rem;}
    
/* 버버리 BURBERRY */
    /* 버버리 인트로 burberry intro */
    .burberryI01{width: 100%; height: 120dvh; position: relative; display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
    .burberryILogo{position: absolute; width: 20%; height: auto; left: 4%; top: 10%;}
    .burberryILogoSen{position: absolute; left: 5%; top: 14%; font-size: 2.4rem; font-family: "optima";}
    .burberryIMain{width: 100%; height: 95dvh; overflow: hidden;}
    .burberryIMain>img{width: 100%; height: 100%; object-fit: cover;}
    .burberryIValue{width: 80%; height: 40dvh; border-radius: 4rem; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .burberryIVText{font-size: 3rem; font-family: "optima";}

    .burberryI02{width: 100%; height: auto; overflow-x: hidden;}
    .burberryCBox{width: 100%; height: 60rem; display: flex; margin-bottom: 10rem;}
    [class*=burberryCImg]{width: 55%;}
    [class*=burberryCImg]>img{width: 100%; height: 100%; object-fit: cover;}
    .burberryCText{width: 45%; display: flex; justify-content: center; align-items: center; font-size: 3rem; font-family: "optima";}

    .burberryI03{width: 80%; height: 60dvh; perspective: 2000px; display: flex; justify-content: center; align-items: center; gap: 2rem; background-color: #ffffff}
    .flipCardB{cursor: pointer; width: 30%; height: 40dvh; display: flex; justify-content: center; align-items: center; position: relative; background-color: #ffffff;}
    .flipCardB:hover .flipCardInB, .flipCardB.touch-active .flipCardInB {transform: rotateY(180deg);}
    .flipCardInB{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFrontB, .flipBackB {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; border-radius: 1rem; overflow: hidden; box-sizing: border-box;}
    .flipFrontB{overflow: hidden; background-color:white; display: flex; flex-direction: column; justify-content: center;}
    .flipBackB{transform: rotateY(180deg); background-color: #CBB195; padding: 2rem; flex-direction: column; gap: 2rem;}
    .flipBackB>div{font-size: 1.8rem;}
    .frontImgB{width: 100%; height: 100%; overflow: hidden; border-radius: 10px;}
    .frontImgB>img{width: 100%; height: 100%; object-fit: cover;}

    .burberryI04{width: 70%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .burberryFSen{font-size: 2.4rem; width: 100%; height: 20rem; text-align: center; line-height: 20rem; border-radius: 1rem; font-family: "optima";}
    .burberryFImgBox{width: 100%; display: flex; gap: 2rem; margin: 9rem 0;}
    .burberryFImg{width: 50%; height: 62dvh; border-radius: 5rem; overflow: hidden; margin-bottom: 5rem;}
    .burberryFImg>img{width: 100%; height: 100%; object-fit: cover;}

    .burberryI05{width: 70%; height: 70dvh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .burberryIMapText{font-size: 2.4rem; margin-bottom: 5rem;}
    .burberryMap{width: 100%; height: 70%; border-radius: 1rem;}

    .searchBox {margin-top: 3rem; background: rgba(255,255,255,0.9); padding: 1rem 1.5rem; border-radius: 3rem; display: flex; align-items: center; box-shadow: 0 2px 10px rgba(0,0,0,0.15);}
    .searchBox input {border: none; outline: none; background: transparent; font-size: 1.4rem; width: 40rem;}
    .searchBox button { border: none; background: #222; color: #F7F7F7; border-radius: 2rem; padding: 5px 10px; cursor: pointer; transition: 0.2s;}
    .searchBox button:hover {background: #333;}

    /* 버버리 마이버버리 burberry My Burberry */
    .burberryP01{width: 100%;}
    .burberryPMain{width: 100%; height: 75dvh;}
    .burberryPMain>img{width: 100%; height: 100%; object-fit: cover;}
    .burberryPMainText{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .burberryPMainText>div{background-color: #D8BFAF; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}

    .burberryP02{width: 80%; background-color: #D8BFAF; padding: 2rem;}
    .burberryPElBox{width: 100%; height: auto; display: flex; justify-content: center; align-items: center; gap: 2rem;}
    .burberryPElBg{background-color: white; width: 32%; height: 70dvh; font-size: 1.4rem; position: relative;}
    .burberryPElBg>div{text-align: center;}
    .burberryPElBg>div:nth-child(2){font-weight: 600; font-size: 2.4rem;}
    .burberryPElImg{width: 100%; height: 100%; overflow: hidden;}
    .burberryPElImg>img{width: 100%; height: 100%; object-fit: cover;}
    [class*='burberryPElChip0']{border: 1px solid white; width: 15rem; height: 15rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem;}
    .burberryPElChip01{background-color: #fff1cc;}
    .burberryPElChip02{background-color: #f5ceb5;}
    .burberryPElChip03{background-color: #b8a296;}

    .burberryP03{width: 100%; height: auto;}
    .burberryPFCon{width: 100%; height: 70dvh; position: relative;}
    .burberryPFConSen01{position: absolute; left: 3%; top: 72%; display: flex; flex-direction: column; align-items: flex-start;}
    .burberryPFConSen01>div:nth-child(1){color: #f7f7f7; font-size: 2.4rem; font-weight: 600;}
    .burberryPFConSen01>div:nth-child(2){color: #f7f7f7; font-size: 2.1rem;}
    .burberryPFCon>div:nth-child(2){width: 100%; height: 100%;}
    .burberryPFCon>div>img{width: 100%; height: 100%; object-fit: cover;}
    
    .burberryP04{width: 80%; height: 145dvh;}
    .burberryPFstTitle{font-size: 3.2rem; text-align: center; font-weight: 600;}
    .burberryPFstSen{font-size: 1.8rem; text-align: center; margin: 6rem auto;}
    .burberryPFst{width: 100%; height: 80dvh; padding: 2rem; display: flex; justify-content: center; align-items: center; gap: 8rem;}
    .burberryPRec{width: 20%; height: 100%; border-radius: 10rem; overflow: hidden;}
    .burberryPRec>img{width: 100%; height: 100%; object-fit: cover;}

    /* 버버리 버버리허 burberry Burberry Her */
    .burberryPElChip04{background-color: #F9D4DD;}
    .burberryPElChip05{background-color: #EAD6F1;}
    .burberryPElChip06{background-color: #FFE6C2;}
    .burberryPFConSen02{position: absolute; right: 5%; top: 80%; display: flex; flex-direction: column; align-items: flex-end;}
    .burberryPFConSen02>div:nth-child(1){color: #f7f7f7; font-size: 2.4rem; font-weight: 600;}
    .burberryPFConSen02>div:nth-child(2){color: #f7f7f7; font-size: 2rem;}
    
    /* 버버리 미스터버버리 burberry Mr. Burberry */
    .burberryPElChip07{background-color: #d3b29b;}
    .burberryPElChip08{background-color: #d2c1e2;}
    .burberryPElChip09{background-color: #abbdb5;}
    .burberryPFConSen03{position: absolute; left: 2%; top: 10%; display: flex; flex-direction: column; align-items: flex-start;}
    .burberryPFConSen03>div:nth-child(1){color: #f7f7f7; font-size: 2.4rem; font-weight: 600;}
    .burberryPFConSen03>div:nth-child(2){color: #f7f7f7; font-size: 2rem;}
    
/* 마르지엘라 MAISON Margiela */
    /* 마르지엘라 인트로 margiela intro */
    .margielaI01{width: 100%; height: 120dvh; position: relative; display: flex; justify-content: space-between; align-items: center; flex-direction: column;}
    .margielaILogo{position: absolute; width: 20%; height: auto; left: 4%; top: 50%;}
    .margielaILogoSen{color: #f7f7f7; position: absolute; left: 7%; top: 45%; font-size: 2.4rem; font-family: "goudos";}
    .margielaIMain{width: 100%; height: 95dvh; overflow: hidden;}
    .margielaIMain>img{width: 100%; height: 100%; object-fit: cover;}
    .margielaIValue{width: 80%; height: 40dvh; border-radius: 4rem; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .margielaIVText{font-size: 3rem; font-family: "goudos";}

    .margielaI02{width: 100%; height: auto; overflow-x: hidden;}
    .margielaCBox{width: 100%; height: 60rem; display: flex; margin-bottom: 10rem;}
    [class*=margielaCImg]{width: 55%;}
    .margielaCImg01{clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 100%);}
    .margielaCImg02{clip-path: polygon(0 0, 80% 0, 100% 100%, 100% 100%, 0 100%);}
    [class*=margielaCImg]>img{width: 100%; height: 100%; object-fit: cover;}
    .margielaCText{width: 45%; display: flex; justify-content: center; align-items: center; font-size: 3rem; font-family: "goudos";}

    .margielaI03{width: 80%; height: 60dvh; perspective: 2000px; display: flex; justify-content: center; align-items: center; gap: 2rem; background-color: #ffffff}
    .flipCardM{cursor: pointer; width: 30%; height: 40dvh; display: flex; justify-content: center; align-items: center; position: relative; background-color: #ffffff;}
    .flipCardM:hover .flipCardInM, .flipCardM.touch-active .flipCardInM {transform: rotateY(180deg);}
    .flipCardInM{position: relative; width: 100%; height: 100%; transition: all 0.8s linear; transform-style: preserve-3d;}
    .flipFrontM, .flipBackM {width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; align-items: center; backface-visibility: hidden; border-radius: 1rem; overflow: hidden; box-sizing: border-box;}
    .flipFrontM{overflow: hidden; background-color:white; display: flex; flex-direction: column; justify-content: center;}
    .flipBackM{transform: rotateY(180deg); background-color: #DADCE0; padding: 2rem; flex-direction: column; gap: 2rem;}
    .flipBackM>div{font-size: 1.8rem;}
    .frontImgM{width: 100%; height: 100%; overflow: hidden; border-radius: 10px;}
    .frontImgM>img{width: 100%; height: 100%; object-fit: cover;}

    .margielaI04{width: 70%; height: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .margielaFSen{font-size: 2.4rem; width: 100%; height: 20rem; text-align: center; line-height: 20rem; border-radius: 1rem; font-family: "goudos";}
    .margielaFImgBox{width: 100%; display: flex; gap: 2rem; margin: 9rem 0;}
    .margielaFImg{width: 50%; height: 62dvh; border-radius: 5rem; overflow: hidden; margin-bottom: 5rem;}
    .margielaFImg>img{width: 100%; height: 100%; object-fit: cover;}

    .margielaI05{width: 70%; height: 70dvh; display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .margielaIMapText{font-size: 2.4rem; margin-bottom: 5rem;}
    .margielaMap{width: 100%; height: 70%; border-radius: 1rem;}

    .searchBox {margin-top: 3rem; background: rgba(255,255,255,0.9); padding: 1rem 1.5rem; border-radius: 3rem; display: flex; align-items: center; box-shadow: 0 2px 10px rgba(0,0,0,0.15);}
    .searchBox input {border: none; outline: none; background: transparent; font-size: 1.4rem; width: 40rem;}
    .searchBox button { border: none; background: #222; color: #F7F7F7; border-radius: 2rem; padding: 5px 10px; cursor: pointer; transition: 0.2s;}
    .searchBox button:hover {background: #333;}

    /* 마르지엘라 레이지선데이모닝 margiela Lazy Sunday Morning */
    .margielaP01{width: 100%;}
    .margielaPMain{width: 100%; height: 75dvh;}
    .margielaPMain>img{width: 100%; height: 100%; object-fit: cover;}
    .margielaPMainText{width: 100%; height: 20rem; display: flex; justify-content: center; align-items: center;}
    .margielaPMainText>div{background-color: #DADCE0; width: 80%; height: 15rem; text-align: center; font-size: 2rem; font-weight: 600; line-height: 15rem;}

    .margielaP02{width: 80%; background-color: #DADCE0; padding: 2rem 20rem;}
    .margielaPElBox{width: 100%; height: auto; display: flex; justify-content: center; align-items: center; gap: 20rem;}
    [class*=margielaPElBg]{padding: 1rem; width: 32%; height: 70dvh; font-size: 1.4rem; display: flex; justify-content: flex-start; align-items: center; gap: 1.6rem; flex-direction: column;}
    [class*=margielaPElBg]>div{text-align: center;}
    .margielaPElBg01{background-color: #F3F8EF;}
    .margielaPElBg02{background-color: #E9E0EF;}
    .margielaPElBg03{background-color: #D8D0C6;}
    .margielaPElImg{width: 100%; height: 80%; overflow: hidden;}
    .margielaPElImg>img{width: 100%; height: 100%; object-fit: cover;}

    .margielaP03{width: 100%; height: auto;}
    .margielaPFCon{width: 100%; height: 80dvh; position: relative;}
    .margielaPFConSen01{position: absolute; left: 3%; top: 72%; display: flex; flex-direction: column; align-items: flex-start;}
    .margielaPFConSen01>div:nth-child(1){color: #f7f7f7; font-size: 2.4rem; font-weight: 600;}
    .margielaPFConSen01>div:nth-child(2){color: #f7f7f7; font-size: 2.1rem;}
    .margielaPFCon>div:nth-child(2){width: 100%; height: 100%;}
    .margielaPFCon>div>img{width: 100%; height: 100%; object-fit: cover;}
    
    .margielaP04{width: 80%; height: 145dvh;}
    .margielaPFstTitle{font-size: 3.2rem; text-align: center; font-weight: 600;}
    .margielaPFstSen{font-size: 1.8rem; text-align: center; margin: 6rem auto;}
    .margielaPFst{width: 100%; height: 80dvh; padding: 2rem; display: flex; justify-content: center; align-items: center; gap: 8rem;}
    .margielaPRec{width: 20%; height: 100%; border-end-start-radius: 50%; border-top-right-radius: 50%; overflow: hidden;}
    .margielaPRec>img{width: 100%; height: 100%; object-fit: cover;}

    /* 마르지엘라 재즈클럽 margiela Jazz Club */
    .margielaPElBg04{background-color: #d8cdb7;}
    .margielaPElBg05{background-color: #A59C7B;}
    .margielaPElBg06{background-color: #5B4A42;}
    .margielaPFConSen02{position: absolute; left: 5%; top: 80%; display: flex; flex-direction: column; align-items: flex-start;}
    .margielaPFConSen02>div:nth-child(1){color: #f7f7f7; font-size: 2.4rem; font-weight: 600;}
    .margielaPFConSen02>div:nth-child(2){color: #f7f7f7; font-size: 2rem;}
    
    /* 마르지엘라 세일링데이 margiela Sailing Day */
    .margielaPElBg07{background-color: #F3F8EF;}
    .margielaPElBg08{background-color: #bfdfcc;}
    .margielaPElBg09{background-color: #f5e9d4;}
    .margielaPFConSen03{position: absolute; right: 2%; top: 70%; display: flex; flex-direction: column; align-items: flex-end;}
    .margielaPFConSen03>div:nth-child(1){font-size: 3rem; font-weight: 600;}
    .margielaPFConSen03>div:nth-child(2){font-size: 2rem;}
    